.card-with-chart {
  height: 400px;
  border-radius: 16px;
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr);
  height: 400px;
  width: calc(100% - 2em);

  &__container {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: center;
  }
}
