.learning-resources-modal-form {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__content {
    display: grid;
    gap: 16px;
    padding: 8px;
    border: 1px solid #ccc;
  }

  &__button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  @media screen and (max-width: 1007px) {
    width: 420px;
  }

  @media screen and (max-width: 720px) {
    width: 320px;
  }
}
