.accordion {
  &__title-container {
    padding: 24px 24px 24px 0;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr min-content;
    cursor: pointer;
  }

  &__icon-wrapper {
    width: 24px;
    height: 24px;
    transition-duration: 0.4s;
    transform: rotate(90deg);

    &--up {
      transform: rotate(-90deg);
    }
  }

  &__divider {
    opacity: 1;
    transition: all 0.4s ease;

    &--hidden {
      opacity: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    width: 100%;
    max-height: max-content;
    overflow: hidden;
    transition: all 0.4s ease;

    &--hidden {
      max-height: 0;
      padding: 0 24px;
    }
  }
}
