.learning-recourses-card-widget {
  height: 600px;

  &__list-item {
    display: grid;
    gap: 16px;
  }

  // &__description {
  //   overflow: hidden;
  //   display: -webkit-box;
  //   -webkit-box-orient: vertical;
  //   -webkit-line-clamp: 3;
  //   white-space: pre-wrap;
  // }
}
