@import '@/app/styles/mixins.scss';

.saved-chat-gpt-replies-widget {
  &__item-container {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 16px;
  }

  &__buttons-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
