.header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  width: 100%;
  text-align: center;
  position: sticky;
  top: -104px;
  z-index: 10;

  &__title-wrapper {
    height: 104px;
    // background-color: #3498db;
  }

  &__nav {
    padding: 16px;
    width: 100%;
    // background-color: rgba(0, 0, 0, 0.1);
  }
}
