.saved-learning-resources-widget {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__toggle-switch-wrapper {
    display: flex;
    justify-content: right;
  }

  &__list-item {
    display: grid;
    gap: 16px;
  }

  &__drag-and-drop-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  &__container {
    gap: 0;
  }

  &__item {
    background-color: white;
  }
}
