.learning-recources-widget {
  &__container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr min-content;
    gap: 24px;
  }

  &__list-item {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 16px;
    padding-right: 24px;
  }
}
