* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, Sans-Serif;
}

body,
#root {
  min-height: 100vh;
  width: 100%;
}

li {
  list-style-type: none;
}

p {
  font-size: 20px;
}
