@import './styles/mixins.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: Helvetica, Sans-Serif;
}

body,
#root {
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
}

body {
  overflow-x: hidden;

  @include scrollbar;
}

li {
  list-style-type: none;
}

p {
  font-size: 20px;
  white-space: pre-wrap;

  @media screen and (max-width: 720px) {
    font-size: 16px;
  }
}
