.title {
  padding: 24px;
  width: 100%;
  height: fit-content;
  font-weight: 700;

  &--no-padding {
    padding: 0;
  }

  &--large {
    font-size: 48px;
  }

  &--medium {
    font-size: 36px;
  }

  &--small {
    font-size: 24px;
  }

  @media screen and (max-width: 1007px) {
    &--large {
      font-size: 40px;
    }

    &--medium {
      font-size: 32px;
    }

    &--small {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 720px) {
    &--large {
      font-size: 40px;
    }

    &--medium {
      font-size: 28px;
    }

    &--small {
      font-size: 16px;
    }
  }
}
