.title {
  padding: 24px;
  width: 100%;
  height: fit-content;

  &--no-padding {
    padding: 0;
  }

  &--large {
    font-size: 48px;
  }

  &--medium {
    font-size: 36px;
  }

  &--small {
    font-size: 24px;
  }
}
