.section {
  height: 100%;
  padding: 32px;
  min-width: fit-content;
  align-items: start;

  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    gap: 16px;

    @media screen and (max-width: 1007px) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    background-color: white;
    width: 100%;

    &--full-width {
      grid-column: 1 / -1;
    }
  }
}
