@import '@/app/styles/mixins.scss';

.saved-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__switch-wrapper {
    display: flex;
    justify-content: right;
  }

  &__drag-and-drop-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    @include scrollbar;
  }

  &__container {
    gap: 0;
  }
}
